@font-face
  font-family: "Proxima Nova"
  font-style: normal
  font-weight: 300

  src: local("Proxima Nova Light"), url("../fonts/proximanovalight.woff2") format("woff2"), url("../fonts/proximanovalight.woff") format("woff")

@font-face
  font-family: "Proxima Nova"
  font-style: normal
  font-weight: 600

  src: local("Proxima Nova Semibold"), url("../fonts/proximanovasemibold.woff2") format("woff2"), url("../fonts/proximanovasemibold.woff") format("woff")

@font-face
  font-family: "Proxima Nova"
  font-style: normal
  font-weight: 700

  src: local("Proxima Nova Bold"), url("../fonts/proximanovabold.woff2") format("woff2"), url("../fonts/proximanovabold.woff") format("woff")