doctype html

html(lang = "en")
  head
    meta(charset = "utf-8")
    title ICNDY
    link(rel = "stylesheet", href = "css/style.css")

  body
    header.header
      nav.menu
        .menu__logo ICNDY

        ul.menu__list
          each value in ["Mens", "Womens", "Brands", "Sale", "News"]
            if value == "Sale"
              li.menu__item
                a.menu__link.menu__link--current(href = "#")= value
            else
              li.menu__item
                a.menu__link(href = "#")= value

      .header__hgroup
        h2.header__title STÜSSY2017
        .header__subtitle Shop now

      a.header__link(href = "#brands")

    main
      section.brands#brands
        .brands__large.brands__large--gourmet
          a.brands__link(href = "#")
            h3.brands__title Shop Gourmet

        .brands__small.brands__small--carhartt
          a.brands__link(href = "#")
            h3.brands__title Shop Carhartt

        .brands__small.brands__small--adidas
          a.brands__link(href = "#")
            h3.brands__title Shop Adidas

        .brands__medium.brands__medium--10deep
          a.brands__link(href = "#")
            h3.brands__title 10Deep Sale

        .brands__medium.brands__medium--palace
          a.brands__link(href = "#")
            h3.brands__title Palace A/W 2014

        .brands__medium.brands__medium--tech
          a.brands__link(href = "#")
            h3.brands__title Tech Pack
      
      section.instagram
        .instgram__hgroup
          h2.instagram__title #ICNDY on Instagram
          .instagram__subtitle View hashtag

        - var i = 0
        while i < 8
          .instagram__item
          - i++

    footer.footer
      section.copyright
        p.copyright__text ICNDY2017
      
      section.links
        ul.links__list
          each value in ["Privacy", "Terms", "Shop", "About", "Contact"]
            li.links__item
              a.links__link(href = "#")= value
          
      section.social
        ul.social__list
          each value in ["[Instagram]", "[Facebook]", "[Twitter]"]
            li.social__item
              a.social__link(href = "#")= value