doctype html

html(lang = "en")
  head
    meta(charset = "utf-8")
    title ICNDY
    link(rel = "stylesheet", href = "css/style.css")

  body
    header.page-header
      h1.visually-hidden ICNDY
      
      nav.menu
        .menu__logo

        ul.menu__list
          li.menu__item Mens
          li.menu__item Womens
          li.menu__item Brands
          li.menu__item.menu__item--current Sale
          li.menu__item News

      .page-header__scroll

    main
      section.brands
        h2.visually-hidden Brands
        
        .brands__large.brands__large--gourmet
          h3.brands__title Shop Gourmet

        .brands__small.brands__small--carhartt
          h3.brands__title Shop Carhartt

        .brands__small.brands__small--adidas
          h3.brands__title Shop Adidas

        .brands__medium.brands__medium--10deep
          h3.brands__title 10Deep Sale

        .brands__medium.brands__medium--palace
          h3.brands__title Palace A/W 2014

        .brands__medium.brands__medium--tech
          h3.brands__title Tech Pack
      
      section.instagram
        h2.instagram__title #ICNDY on Instagram
        span.instagram__subtitle View hashtag

        .instagram__item
        .instagram__item
        .instagram__item
        .instagram__item
        .instagram__item
        .instagram__item
        .instagram__item
        .instagram__item

    footer.page-footer
      section.copyright
        p.copyright__text ©ICNDY2014
      
      section.menu-bottom
        ul.menu-bottom__list
          li.menu-bottom__item Privacy
          li.menu-bottom__item Terms
          li.menu-bottom__item Shop
          li.menu-bottom__item About
          li.menu-bottom__item Contact      
          
      section.social
        ul.social__list
          li.social__item Instagram
          li.social__item Facebook
          li.social__item Twitter