.brands
  @extend .fonts

  &__title
    font-weight: 300

  &__link
    color: $black
    text-decoration: none

    &:hover
      color: $sunset-orange

  &__small, &__medium, &__large &__title
    letter-spacing: 15px

  &__small, &__medium &__title
    font-size: 40px
    line-height: 45px

  &__large &__title
    font-size: 60px
    line-height: 70px