.header
  position: relative

  display: flex
  flex-direction: column

  padding: 40px 100px

  width: 1500px
  height: 815px

  background: $cod-gray url("../img/image-icndy.jpg") repeat-y

  @extend .fonts

  &__hgroup
    margin: auto
    padding-bottom: 100px
    text-align: center

  &__title

    color: $white
    font-weight: 300
    font-size: 60px
    line-height: 70px
    letter-spacing: 30px

  &__subtitle

    margin-top: -50px

    color: $sunset-orange
    font-weight: 700
    font-size: 30px
    line-height: 75px
    letter-spacing: 10px

  &__link
    position: absolute
    bottom: 54px
    left: 50%

    width: 110px
    height: 74px

    transform: translateX(-50%)

    &::after
      position: absolute
      bottom: 0
      left: 50%
      width: 52px
      height: 52px
      border: 3px solid $white
      border-top: none
      border-right: none

      content: ""

      transform: translate(-50%, -50%) rotate(-45deg)

    &:hover
      &::after
        border-color: $sunset-orange

        transition: border-color 0.5s ease-out