.menu
  @extend .fonts

  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  
  &__logo
    box-sizing: border-box

    padding: 22px 0
    padding-left: 14px
    
    width: 224px
    height: 90px
    
    background-color: $white    
    color: rgba($cod-gray, 0.5)
  
    text-align: center
  
    font-size: 40px
    font-weight: 700

    letter-spacing: 15px

    user-select: none
    
    &:hover
      background-color: $sunset-orange
      color: $white

      transition: background-color 0.5s ease-out

  &__img
    width: 224px
    height: 90px

  &__list
    list-style: none
    font-size: 0

  &__item
    display: inline-block
    text-align: right
    
    margin-left: 75px

  &__link
    font-size: 18px
    font-weight: 600
    line-height: 40px
    letter-spacing: 5px
    text-decoration: none

    color: $white

    &--current, &:hover
      color: $sunset-orange
      
      transition: color 0.5s ease-out